body {
    background-color: #2c2f33;
}

.menu-container {
    width: fit-content;
    height: fit-content;
    background-color: #7289da;
    border-radius: 10px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    margin-top: 30px;
    margin-right: 20px;
    margin-left: auto;
    height: 60px;
}

/*----------LINK BUTTONS CSS----------*/

.menu-links a {
    position: relative;
    top: 18px;
    color: #ffffff;
    font-size: 20px;
    font-weight: 700;
    font-family: poppins-font;
    padding: 10px 30px;
    text-decoration: none;
    transition: 800ms;
}

.menu-links a:hover {
    color: #23272a;
    transition: 400ms;
    font-size: 25px;
}

.menu-links a:active {
    color: yellow;
    transition: 400ms;
}