body {
    margin: 0;
    background-color: #424242;
}

/* ------------FONT FAMILIES------------*/

@font-face {
    font-family: Quantom-Font;
    src: url(../font/quantum/Quantum.otf);
}

@font-face {
    font-family: Merriweather-Font;
    src: url(../font/Merriweather/Merriweather-Black.ttf);
}

@font-face {
    font-family: poppins-font;
    src: url(../font/Poppins/Poppins-Black.ttf);
}

/* ------------FONT FAMILIES------------*/

/* ------------MAIN BAR CONTAINERS----------*/

.menu-container {
    width: fit-content;
    height: fit-content;
    height: 60px;
    margin-left: auto;
}
/*----------LINK BUTTONS CSS----------*/

.menu-links a {
    color: red;
    font-size: 25px;
    font-weight: 800;
    font-family: poppins-font;
    padding: 20px 30px;
    text-decoration: none;
}

.menu-links a:hover {
    color: rgb(196, 63, 196);
}