body {
    margin: 0;
    background-color: #424242;
}

/* ------------FONT FAMILIES------------*/

@font-face {
    font-family: Quantom-Font;
    src: url(../font/quantum/Quantum.otf);
}

@font-face {
    font-family: Merriweather-Font;
    src: url(../font/Merriweather/Merriweather-Black.ttf);
}

@font-face {
    font-family: poppins-font;
    src: url(../font/Poppins/Poppins-Black.ttf);
}

/* ------------FONT FAMILIES------------*/

/* ------------MAIN BAR CONTAINERS----------*/

.menu-container {
    width: fit-content;
    height: fit-content;
    margin-top: 30px;
    margin-right: 20px;
    margin-left: auto;
    height: 60px;
    background-color: #23272a;
    border-radius: 10px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

/*----------LINK BUTTONS CSS----------*/

.menu-links a {
    color: red;
    font-size: 20px;
    font-weight: 700;
    font-family: poppins-font;
    padding: 20px 30px;
    text-decoration: none;
    transition: 800ms;
    position: relative;
    top: 14px;
}

.menu-links a:hover {
    color: rgb(196, 63, 196);
    transition: 400ms;
    font-size: 25px;
}

.menu-links a:active {
    color: yellow;
    transition: 400ms;
}

/*----------LINK BUTTONS CSS----------*/

/*------------MAIN CONTENT FOR HOME PAGE----------*/
.top-container {
    width: 1400px;
    height: 800px;
    margin-top: 120px;
    margin-left: auto;
    margin-right: auto;
}

